<!DOCTYPE html>
<html>
<head>
  <title>Employee Website</title>
  <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
  <header>
    <h1>Employee Website</h1>
  </header>
  <nav>
    <ul>
      <li><a href="user">Home</a></li>
    </ul>
</nav>
  
 
  <main>
    <h1>Welcome to our Employee Website</h1>
    <div class="employee-card">
      <h2>John Doe</h2>
      <p>Position: Software Engineer</p>
      <p>Email: john.doe@example.com</p>
    </div>
    <div class="employee-card">
      <h2>Jane Smith</h2>
      <p>Position: Marketing Manager</p>
      <p>Email: jane.smith@example.com</p>
    </div>
    <!-- Add more employee cards here -->
  </main>
  <footer>
    &copy; 2023 Employee Website. All rights reserved.
  </footer>
</body>
</html>
